<div class="pref-form drop-shadow">
    <h2 class="light-text" style="text-align: center">Location Preferences</h2>
    <p class="light-text">Some of the following fields are <b>required</b> as they determine the location of your event recommendations. You will not be able to move forward in the onboarding process until the required questions are answered.</p>
    <form [formGroup]="this.userService.preferencesForm" (ngSubmit)="onSubmit()" class="form-container">
        <!-- zipcode -->
        <div class="field">
            <label for="zipCode" class="label">Zip Code<span class="required">*</span></label>
            <small class="p-error" *ngIf="this.userService.preferencesForm.get('zipCode')?.touched && this.userService.preferencesForm.get('zipCode')?.invalid">Zipcode is invalid</small>
            <input pInputText formControlName="zipCode" required maxlength="5" placeholder="01010" (blur)="getZipCodeData()">
        </div>

        <!-- city -->
        <div class="field">
            <span>
                <label for="city" class="label">City</label>
                <label for="state" class="label" style="margin-left: 55%;">State</label>
            </span>
            <span>
                <input pInputText placeholder="City" formControlName="city" style="width: 40%">
                <p-dropdown [options]="states" [showClear]="true" optionLabel="label" placeholder="State" formControlName="state" autoWidth="false" [style]="{'width': '40%', 'margin-left': '20%'}"></p-dropdown>
            </span>
        </div>

        <!-- address -->
        <div class="field">
            <label for="addressLine1" class="label">Address (line 1, optional)</label>
            <input pInputText formControlName="addressLine1" placeholder="1234 Main St">
        </div>
    </form>
</div>

<div class="pref-form drop-shadow">
    <h2 class="light-text" style="text-align: center">Event Preferences</h2>
    <p class="light-text">The following fields are <b>required</b> as they determine your specific event recommendations. You will not be able to move forward in the onboarding process until the required questions are answered.</p>
    <form [formGroup]="this.userService.preferencesForm" (ngSubmit)="onSubmit()" class="form-container">
        <!-- hobbies - most interested -->
        <div class="field">
            <label for="mostInterestedHobbies" class="label">Which hobbies are you <b>most</b> interested in?<span class="required">*</span></label>
            <p-multiSelect [options]="hobbies" formControlName="mostInterestedHobbies" [showClear]="true" placeholder="Pick a hobby" autoWidth="false" [style]="{'width':'100%'}" [maxSelectedLabels]="3" label required (onChange)="getLeastInterestedHobbiesArray()"></p-multiSelect>
        </div>

        <!-- hobbies - least interested -->
        <div class="field">
            <label for="leastInterestedHobbies" class="label">Which hobbies are you <b>least</b> interested in?<span class="required">*</span></label>
            <p-multiSelect [options]="leastInterestedHobbies" formControlName="leastInterestedHobbies" [showClear]="true" placeholder="Pick a hobby" autoWidth="false" [style]="{'width':'100%'}" [maxSelectedLabels]="3" required></p-multiSelect>
        </div>

        <!-- event distance -->
        <div class="field">
            <label for="distances" class="label">What is the maximum distance you would want your events to be from you?<span class="required">*</span></label>
            <p-dropdown [options]="distances" formControlName="distances" [showClear]="true" placeholder="Within 5 miles" autoWidth="false" [style]="{'width':'100%'}" [required]="true"></p-dropdown>
        </div>

        <!-- group sizes -->
        <div class="field">
            <label for="groupSizes" class="label">How many people would you prefer to be grouped with for events?<span class="required">*</span></label>
            <p-multiSelect [options]="groupSizes" formControlName="groupSizes" [showClear]="true" placeholder="1-5 people" autoWidth="false" [style]="{'width':'100%'}" [maxSelectedLabels]="3" required></p-multiSelect>
        </div>

        <!-- group similarity -->
        <div class="field">
            <label for="groupSimilarity" class="label">When you are looking for friends, how similar do you want them to be to you?<span class="required">*</span></label>
            <p-dropdown [options]="groupSimilarity" formControlName="groupSimilarity" [showClear]="true" placeholder="Neutral" autoWidth="false" [style]="{'width':'100%'}" [required]="true"></p-dropdown>
        </div>

        <!-- group similarity attributes -->
        <div class="field">
            <label for="groupSimilarityAttrs" class="label">On which attributes do you generally want your friends to be similar to you?<span class="required">*</span></label>
            <p-multiSelect [options]="groupSimilarityAttrs" formControlName="groupSimilarityAttrs" [showClear]="true" placeholder="No preference" autoWidth="false" [style]="{'width':'100%'}" [maxSelectedLabels]="3" required></p-multiSelect>
        </div>

        <!-- event frequency -->
        <div class="field">
            <label for="eventFrequency" class="label">How often do you want to attend Shoulder to Shoulder events?<span class="required">*</span></label>
            <p-dropdown [options]="eventFrequency" formControlName="eventFrequency" [showClear]="true" placeholder="Twice a week" autoWidth="false" [style]="{'width':'100%'}" [required]="true"></p-dropdown>
        </div>

        <!-- event notifications -->
        <div class="field">
            <label for="eventNotifications" class="label">How do you want to be notified of new Shoulder To Shoulder events?<span class="required">*</span></label>
            <p-dropdown [options]="eventNotifications" formControlName="eventNotifications" [showClear]="true" placeholder="Email & Text" autoWidth="false" [style]="{'width':'100%'}" [required]="true"></p-dropdown>
        </div>
    </form>
</div>
