<div class="avail-form drop-shadow">
    <h2 class="light-text" style="text-align: center">Event Availability</h2>
    <p class="light-text">Please use this form to indicate what days and times throughout the week your would <b>prefer</b> to attend a Shoulder To Shoulder event. This can be edited later.</p>
    <form [formGroup]="this.userService.eventAvailabilityForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="field" *ngFor="let day of days">
            <label for="{{ day.toLowerCase() }}Times" class="label">{{ day }}s</label>
            <p-multiSelect [options]="availableTimes" optionLabels="label" formControlName="{{ day.toLowerCase() }}Times" [showClear]="true" placeholder="Unavailable" [maxSelectedLabels]="3" autoWidth="false" [style]="{'width':'100%'}" defaultValue="Unavailable"></p-multiSelect>
        </div>
    </form>
</div>
