<app-header></app-header>
<!-- Event creation form -->
<div class="main-content">
    <div class="event-form drop-shadow">
        <h2 class="light-text">Event Creation Form</h2>
        <p class="subtitle light-text">Please fill out the form below to create an event.</p>
        <form [formGroup]="eventForm" (ngSubmit)="openConfirmationDialog()" class="form-container">
            <!-- Event Error -->
            <p class="error-message" *ngIf="showError">{{ errorMessage }}</p>
            
            <!-- title -->
            <div class="title-field">
                <label for="title" class="label">Event Title<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="eventForm.get('title')?.invalid && eventForm.get('title')?.dirty">Event title is required</small>
                <input type="text" pInputText placeholder="{{ sampleEvent.title }}" formControlName="title" />
            </div>

            <!-- description -->
            <div class="title-field">
                <label for="description" class="label">Description</label>
                <textarea 
                    pInputTextarea 
                    rows="3"
                    placeholder="{{ sampleEvent.description }}" 
                    formControlName="description"></textarea>
            </div>
            
            <div class="row">
                <!-- date -->
                <div class="datetime">
                    <label for="title" class="label">Event Date<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('datetime')?.invalid && eventForm.get('datetime')?.dirty">Date is required</small>
                    <p-calendar 
                        [style]="{'width':'100%', 'text-align':'left'}"
                        placeholder = "{{ sampleEvent.datetime }}"
                        inputId="calendar-12h" 
                        formControlName="datetime" 
                        [showTime]="true" 
                        dateFormat="M d, yy at"
                        hourFormat="12" />
                </div>   
                
                <!-- duration (hours) -->
                <div class="duration">
                    <label for="duration_h" class="label">Duration (hours)<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('duration_h')?.invalid && eventForm.get('duration_h')?.dirty">Duration must be between 1 and 8 hours.</small>
                    <input type="number" pInputText placeholder="{{ sampleEvent.duration_h }}" formControlName="duration_h" />
                </div>

                <!-- maximum attendees -->
                <div class="max-attendees">
                    <label for="max_attendees" class="label">Maximum number of attendees<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('max_attendees')?.invalid && eventForm.get('max_attendees')?.dirty">Maximum attendees must be between 1 and 20 people.</small>
                    <input type="number" pInputText placeholder="{{ sampleEvent.max_attendees }}" formControlName="max_attendees" />
                </div>
            </div>

            <div class="row">
                <!-- address line 1 -->
                <div class="adr1">
                    <label for="address1" class="label">Address Line 1<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('address1')?.invalid && eventForm.get('address1')?.dirty">Address is required</small>
                    <input type="text" pInputText placeholder="{{ sampleEvent.address1 }}" formControlName="address1" />
                </div>

                <!-- address line 2 -->
                <div class="adr2">
                    <label for="address2" class="label">Address Line 2</label>
                    <small class="p-error" style="color: #78290F" *ngIf="eventForm.get('address1')?.invalid && eventForm.get('address1')?.dirty">Address is required</small>
                    <input type="text" pInputText formControlName="address2" />
                </div>    
            </div>

            <div class="row">
                <!-- city -->
                <div class="city">
                    <label for="city" class="label">City<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('city')?.invalid && eventForm.get('city')?.dirty">City is required</small>
                    <input type="text" pInputText placeholder="{{ sampleEvent.city }}" formControlName="city" />
                </div>

                <!-- state -->
                <div class="state">
                    <label for="state" class="label">State<span class="required">*</span></label>
                    <small class="p-error light-error" *ngIf="eventForm.get('state')?.invalid && eventForm.get('state')?.dirty">State is required</small>
                    <p-dropdown 
                        [style]="{'width':'100%', 'text-align':'left'}"
                        [options]="states" 
                        formControlName="state" 
                        placeholder="{{ sampleEvent.state }}"></p-dropdown>
                </div>                
            </div>

            <!-- add creator to the event -->
            <div class="creator">
                <p-checkbox formControlName="add_user" [binary]="true"></p-checkbox>
                <label for="creator" class="label" style="margin: 1rem;">Add yourself to the event</label>
            </div>
            
            <!-- submit buttom -->
            <div 
                (click)="highlightInvalidFields($event)" 
                (keypress)="highlightInvalidFields($event)"
                [attr.aria-disabled]="true">
                <!-- eslint-disable @angular-eslint/template/elements-content-->
                <button pButton type="submit" label="Create an event" class="submit-button" [disabled]="eventForm.invalid"></button>
                <button pButton type="reset" label="Reset form" class="reset-button" (click)="resetForm()"></button>
            </div>
        </form>

        <!-- Invalid Dialog -->
        <p-dialog header="Required Fields Missing" [(visible)]="showInvalidDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <p class="m-0">{{ invalidDialogMessage }}</p>
            <div class="p-d-flex p-jc-end">
                <button pButton type="button" class="p-button-text" (click)="showInvalidDialog = false" class="confirmButton">OK</button>
            </div>
        </p-dialog>
    </div>
</div>

<!-- Confirmation Dialog -->
<p-dialog header="Please confirm your event information" [(visible)]="showConfirmDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <p class="m-0"><b>Title:</b> {{ event.title }}</p>
    <p class="m-0"><b>Description</b>: {{ event.description ? event.description : 'Not Provided' }}</p>
    <p class="m-0"><b>Date:</b> {{ event.datetime }}</p>
    <p class="m-0"><b>Duration:</b> {{ event.duration_h }} hours</p>
    <p class="m-0"><b>Max Attendees:</b> {{ event.max_attendees }} {{ event.max_attendees === 1 ? "person" : "people" }}</p>
    <p class="m-0"><b>Address:</b> {{ event.address1 + "," }} {{ event.address2 ? event.address2 + "," : "" }} {{ event.city + "," }} {{ event.state }}</p>
    <p class="m-0"><b>You {{ event.add_user ? "will" : "will NOT" }} be automatically added to this event</b></p>

    <div class="p-d-flex p-jc-end">
        <button pButton type="button" class="p-button-text" (click)="showConfirmDialog = false" class="cancelButton">Cancel</button>
        <button pButton type="button" class="p-button-text" (click)="onSubmit()" class="confirmButton">Confirm</button>
    </div>
</p-dialog>

<app-footer></app-footer>