<div class="scheduler drop-shadow">
    <h3>Event Availability</h3>
    <div class="schedule-availability">
        <!-- Headers -->
        <div class="header-cell" style="color: white">Time</div> <!-- Placeholder for the time column -->
        <div class="header-cell" *ngFor="let day of days">{{ day }}</div>

        <!-- Time slots and day cells -->
        <ng-container *ngFor="let slot of calendarService.userAvailability; let i = index">
        <div class="time-label">{{ slot.time.label }}</div>
        <div 
            class="day-cell" 
            *ngFor="let available of slot.days; let j = index" 
            (click)="toggleAvailability(i, j)" 
            (keyup.enter)="toggleAvailability(i, j)"
            tabindex="0"
        >
            <div *ngIf="available" class="filled">Available</div>
        </div>
        </ng-container>
    </div>    
</div>