.scheduler {
    background-color: white;
    padding: 1rem;
    border-radius: 0.625rem;
}

.schedule-availability {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    border-radius: 0.625rem;
}

.header-row, .time-slot {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
}

.header-cell, .time-label, .day-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.day-cell {
    background-color: #FFECD1;
    border: .2rem solid white;
}

.header-cell {  
    font-weight: 600;
    background: none;
    color: #15616D;
}

.time-slot {
    border: none;
}

.day-cell {
    cursor: pointer;
}

.filled {
    background: #15616D;
    color: #15616D;
    width: 100%;
    height: 2rem;
    border-top: solid .2rem white;
    border-bottom: solid .2rem white;
    text-align: center;
}

h3 {
    margin-top: 0;
}
  