.main-content {
    position: relative;
    margin-top: 15rem;
    z-index: 10;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.description {
    width: 50%;
}

img {
    border-radius: 10px;
    height: 30rem;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0;
}

.get-started {
    margin: 1rem;
    background-color: #FF7D00;
    color: #FFECD1;
    border-color: #FF7D00;
}

.log-in {
    margin: 1rem;
    background: none;
    color: #FF7D00;
    border-color: #FF7D00;
}

button {
    width: 25%;
    height: 3.5rem;
    font-size: 1.2rem;
    justify-content: center;
}