<app-header title="Welcome to Shoulder to Shoulder!" subtitle="You can use this form to generate an individual event. To connect with community members, please create an account."></app-header>
<main class="main-content">
    <div class="how-it-works-header">
        <h2 class="light-text">How it works</h2>
    </div>

    <div class="how-it-works drop-shadow">

        <!-- Sign up, onboard, + setup -->
        <div class="row">
            <div class="signup">
                <h4 class="light-text">Sign up <span><i class="pi pi-plus-circle"></i></span></h4>
                <p class="light-text">Create an S2S account</p>
            </div>

            <div class="arrow">
                <i class="pi pi-arrow-right"></i>
            </div>

            <div class="onboard">
                <h4 class="light-text">Onboard <i class="pi pi-file"></i></h4>
                <p class="light-text">Complete the onboarding forms</p>
            </div>

            <div class="arrow">
                <i class="pi pi-arrow-right"></i>
            </div>

            <div class="setup">
                <h4 class="light-text">Setup <i class="pi pi-user"></i></h4>
                <p class="light-text">Setup your profile page</p>
            </div>
        </div>

        <!-- Setup account + create events -->
        <div class="row">
            <div class="create">
                <h4 class="light-text">Create and Join events <i class="pi pi-users"></i></h4>
                <p class="light-text">Generate events and receive recommendations</p>
            </div>

            <div class="arrow">
                <i class="pi pi-arrow-right"></i>
            </div>

            <img src="assets/group2.png" alt="group" class="group" />
        </div>

        <!-- Get started (redirects to sign up or log in) -->
        <div class="centered-row">
            <button pButton type="button" class="get-started" routerLink="/sign-up">Get Started</button>
            <button pButton type="button" class="log-in" routerLink="/log-in">Log In</button>
        </div>
    </div>
</main>
<app-footer></app-footer>
