<main style="margin-bottom: 3rem;">
    <div *ngIf="this.page > 1 && this.page < maxPage">
        <h2 class="dark-text">Welcome to Shoulder to Shoulder!</h2>
        <p class="subtitle dark-text"> To get started, we'd like to learn a few things about you. These surveys will help us calibrate event recommendations to your specific preferences. </p>
    </div>

    <div *ngIf="this.page === 1" class="onboardingIntro">
        <h1 class="dark-text">Welcome to Shoulder to Shoulder!</h1>
        <p class="subtitle dark-text"> To make sure we provide the most accurate event recommendations for you, we are going to start you off with a few surveys. None of the information you report in these surveys will be shared without your explicit permission.</p>
        <p class="subtitle dark-text"><b>Press next to get started!</b></p>
    </div>
    
    
    <!-- Demographics survey (first page) -->
    <div *ngIf="this.page === 2" style="width: 100%; ">
        <app-demographics-survey></app-demographics-survey>
    </div>

    <!-- Preferences/Interests survey (second page) -->
    <div *ngIf="this.page === 3">
        <app-preferences-survey></app-preferences-survey>
    </div>

    <!-- Event availability survey (third page) -->
    <div *ngIf="this.page === 4">
        <app-event-availability-survey></app-event-availability-survey>
    </div>

    <!-- Scenarios survey (fourth page) -->
    <div *ngIf="this.page === 5">
        <app-scenarios-survey></app-scenarios-survey>
    </div>

    <div class="buttonsDiv">
        <!-- previous button -->
        <div *ngIf="this.page > 1 && this.page <= maxPage">
            <button pButton (click)="previousPage()" class="prevButton">
                <span class="ui-button-text ui-clickable"><i class="pi pi-arrow-left"></i> Previous Page</span>
            </button>
        </div>
        
        <!-- next button -->
        <div *ngIf="this.page < this.maxPage" class="nextButtonDiv">
            <button pButton (click)="nextPage()" class="nextButton" [disabled]="(page === 3 && userService.preferencesForm.invalid) || (page === 4 && userService.eventAvailabilityForm.invalid)">
                <span class="ui-button-text ui-clickable">Next Page <i class="pi pi-arrow-right"></i></span>
            </button>
        </div>

        <!-- submit button -->
        <div *ngIf="this.page === this.maxPage" class="nextButtonDiv">
            <button pButton style="background-color: #15616D; border-color: #15616D;" (click)="onSubmit()" class="submitButton" [disabled]="page===5 && userService.scenariosForm.invalid">
                <span class="ui-button-text ui-clickable">Submit <i class="pi pi-check-square"></i></span>
            </button>
        </div>
    </div>
    <div *ngIf="this.page > maxPage" class="onboardingOutro">
        <h1 class="dark-text">Welcome to Shoulder to Shoulder!</h1>
        <p class="subtitle dark-text">You have successfully completed your onboarding. We are building your profile. <br> If you are not automatically redirected, you can follow this link: [INSERT]</p>
        <app-loader></app-loader>
    </div>
</main>

