<main>
    <h1 class="dark-text">Welcome to Shoulder to Shoulder!</h1>
    <p class="subtitle dark-text"> To get started, we'd like to learn a few things about you. These surveys will help us calibrate event recommendations to your specific preferences. </p>
    
    <!-- Demographics survey (first page) -->
    <div *ngIf="this.page === 1">
        <app-demographics-survey></app-demographics-survey>
    </div>

    <!-- Preferences/Interests survey (second page) -->
    <div *ngIf="this.page === 2">
        <app-preferences-survey></app-preferences-survey>
    </div>

    <!-- Scenarios survey (third page) -->
    <div *ngIf="this.page === 3">
        <app-scenarios-survey></app-scenarios-survey>
    </div>

    <div class="buttonsDiv">
        <!-- previous button -->
        <div *ngIf="this.page !== 1">
            <button pButton (click)="previousPage()" class="prevButton">
                <span class="ui-button-text ui-clickable"><i class="pi pi-arrow-left"></i> Previous Page</span>
            </button>
        </div>
        
        <!-- next button -->
        <div *ngIf="this.page !== 3" class="nextButtonDiv">
            <button pButton (click)="nextPage()" class="nextButton">
                <span class="ui-button-text ui-clickable">Next Page <i class="pi pi-arrow-right"></i></span>
            </button>
        </div>
    </div>
</main>
<app-footer></app-footer>

