<div class="demo-form drop-shadow">
    <h3 class="light-text">Demographic Information</h3>
    <p class="light-text">The following fields are <b>optional</b> and will only serve to make our event predictions more accurate. We won't display any information on your profile that you want private.</p>
    <form [formGroup]="this.userService.demographicsForm" (ngSubmit)="onSubmit()" class="form-container">
        <!-- age range -->
        <div class="field">
            <label for="ageRange" class="label">Age Range</label>
            <p-dropdown [options]="ageRanges" formControlName="ageRange" [showClear]="true" placeholder="35-44" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        </div>

        <!-- race -->
        <div class="field">
            <label for="race" class="label">Race</label>
            <p-multiSelect [options]="races" formControlName="race" [showClear]="true" placeholder="Asian" [maxSelectedLabels]="3" autoWidth="false" [style]="{'width':'100%'}"></p-multiSelect>
        </div>

        <!-- race description -->
        <div class="field">
            <label for="raceDesc" class="label">Additional race description</label>
            <input type="text" pInputText placeholder="e.g., I am east Asian and am from Japan." formControlName="raceDesc">
        </div>

        <!-- gender -->
        <div class="field">
            <label for="gender" class="label">Gender</label>
            <p-multiSelect [options]="genders" formControlName="gender" [showClear]="true" placeholder="Woman, Transgender" [maxSelectedLabels]="3" autoWidth="false" [style]="{'width':'100%'}"></p-multiSelect>
        </div>

        <!-- gender description -->
        <div class="field">
            <label for="genderDesc" class="label">Additional gender description</label>
            <input type="text" pInputText placeholder="e.g., I am a transgender woman." formControlName="genderDesc">
        </div>

        <!-- race -->
        <div class="field">
            <label for="sexualOrientation" class="label">Sexual Orientation</label>
            <p-dropdown [options]="sexualOrientations" formControlName="sexualOrientation" [showClear]="true" placeholder="Select a sexual orientation" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        </div>

        <!-- race description -->
        <div class="field">
            <label for="sexualOrientationDesc" class="label">Additional sexual orientation description</label>
            <input type="text" pInputText placeholder="e.g., I am a woman who is attracted to men." formControlName="sexualOrientationDesc">
        </div>
    </form>
</div>
