<div class="footer">
    <hr class="solid" style="border-top: 1px solid #454545; width: 90%">
    <div class="row">
        <div class="column left">
            <h3><a routerLink="/home" class="dark-text">Shoulder To Shoulder</a></h3>
            <div class="credits"><a target="_blank" href="https://icons8.com/icon/gjmZ3hx3Krn5/crowd">Crowd</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
        </div>
        <div class="column middle">
            <ul>
                <li style="color: #454545">About</li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="column right">
            <ul>
                <li style="color: #454545">Join</li>
                <li><a routerLink="/log-in">Log In</a></li>
                <li><a routerLink="/sign-up">Sign Up</a></li>
            </ul>
        </div>
      </div>
</div>
