<div class="footer">
    <hr class="solid" style="border-top: 1px solid #454545; width: 90%">
    <div class="row">
        <div class="column left">
            <h3><a routerLink="/home" class="dark-text">Shoulder To Shoulder</a></h3>
            <div class="socials">
                <a href="https://www.facebook.com/shouldertoshoulder" target="_blank" style="padding-right: 15px">
                        <i class="pi pi-facebook" alt="Facebook"></i>
                </a>
                <a href="https://www.instagram.com/shouldertoshoulder" target="_blank" style="padding-right: 15px">
                    <i class="pi pi-instagram" alt="Instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/shouldertoshoulder" target="_blank" style="padding-right: 15px">
                    <i class="pi pi-linkedin" alt="LinkedIn"></i>
                </a>
                <a href="https://www.twitter.com/shouldertoshoulder" target="_blank" style="padding-right: 3rem;">
                    <i class="pi pi-twitter" alt="Twitter/X"></i>
                </a>
            </div> 
            <div class="credits"><a target="_blank" href="https://icons8.com/icon/gjmZ3hx3Krn5/crowd">Crowd</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
        </div>
        <div class="column middle">
            <ul>
                <li style="color: #454545">About</li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="column right">
            <ul>
                <li style="color: #454545">Join</li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>
        </div>
      </div>
</div>
