<main>
    <h1 class="dark-text">Sign Up for <br>Shoulder to Shoulder!</h1>
    <p class="subtitle dark-text"> Signing up gives you access to our curated event recommendations. </p>

    <div class="signup-form drop-shadow">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-container">
            <!-- Signup Error -->
            <p class="error-message" *ngIf="showError">{{ errorMessage }}</p>

            <!-- first name -->
            <div class="field">
                <label for="firstName" class="label">First Name<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.dirty">First name is required</small>
                <input type="text" pInputText placeholder="Shrek" formControlName="firstName" />
            </div>

            <!-- last name -->
            <div class="field">
                <label for="lastName" class="label">Last Name<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.dirty">Last name is required</small>
                <input type="text" pInputText placeholder="the Ogre" formControlName="lastName" />
            </div>

            <!-- phone number -->
            <div class="field">
                <label for="phoneNumber" class="label">Phone Number</label>
                <input type="text" pInputText placeholder="(123) 456-7890" formControlName="phoneNumber" mask="(000) 000-0000" />
            </div>

            <!-- email -->
            <div class="field">
                <label for="email" class="label">Email<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="signupForm.get('email')?.dirty && signupForm.get('email')?.invalid">Valid email is required</small>
                <input type="text" pInputText placeholder="shrek@swamp.net" formControlName="email" />
            </div>

            <!-- password -->
            <div class="field">
                <label for="password" class="label">Password<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="signupForm.get('password')?.dirty && signupForm.get('password')?.invalid">Password is required</small>
                <input #passwordInput
                    type="password"
                    pInputText
                    placeholder="••••••••••"
                    formControlName="password"
                    autocomplete="new-password"
                    (focus)="togglePasswordField(passwordInput)"
                    (blur)="togglePasswordField(passwordInput)"
                    tooltipStyleClass="customtooltip"
                    tooltipEvent="focus"
                    pTooltip="Password should be at least 8 characters and contain one upper case letter, one lower case letter, one number, and one special character." />
            </div>

            <!-- confirm password -->
            <div class="field">
                <label for="confirmPassword" class="label">Confirm Password<span class="required">*</span></label>
                <small class="p-error light-error" *ngIf="signupForm.get('confirmPassword')?.dirty && signupForm.errors?.['PasswordNoMatch']">Passwords do not match</small>
                <input #confirmPasswordInput
                    type="password"
                    pInputText
                    placeholder="••••••••••"
                    formControlName="confirmPassword"
                    autocomplete="new-password"
                    (focus)="togglePasswordField(confirmPasswordInput)"
                    (blur)="togglePasswordField(confirmPasswordInput)"  />
            </div>

            <!-- log in redirect -->
            <div>
                <p class="light-text">Already have an account? <a routerLink="/log-in" class="link">Log in here.</a></p>
            </div>

            <!-- submit buttom -->
            <div>
                <!-- eslint-disable @angular-eslint/template/elements-content-->
                <button pButton type="submit" label="Create an account" class="submit-button" [disabled]="signupForm.invalid"></button>
            </div>
        </form>
    </div>

    <!-- Loading dialog -->
    <div *ngIf="isLoading" class="loading-overlay">
        <div class="loading-overlay-content">
            <h3>Welcome to Shoulder to Shoulder!</h3>
            <p class="m-0">Please wait while we sign you up.</p>
            <app-loader></app-loader>
        </div>
    </div>
</main>
<app-footer></app-footer>
