<app-header title="About Us"></app-header>
<div class="main-content">
    <img src="assets/dhs_loneliness.png" alt="DHS Loneliness" class="header-image">
    <div class="description">
        <p>
            In 2023, the United States Department of Health and Human Services 
            <a target="_blank" href="https://www.hhs.gov/sites/default/files/surgeon-general-social-connection-advisory.pdf">acknowledged a profound challenge</a> affecting millions: loneliness and 
            social isolation have reached epidemic levels in America. This 
            growing health concern has profound implications, as loneliness can 
            impact mental and physical health significantly. At Shoulder to Shoulder, 
            we are committed to addressing this silent epidemic through the power 
            of community and connection.
        </p>
        <p>
            Our platform is designed not just as a tool, but as a community 
            builder that enables individuals to find and connect with like-minded 
            people in their local area. We believe that meaningful social 
            interactions are a key to improving personal well-being and overall 
            community health. Shoulder to Shoulder offers a dynamic space where 
            users can easily schedule activities and explore new places within 
            their city, fostering real-world connections that go beyond digital 
            interactions.
        </p>
        <p>
            We facilitate a variety of events and activities, from hiking groups 
            and book clubs to art classes and tech meetups. Our goal is to make 
            it easier than ever for people to engage in shared interests and 
            hobbies, which are crucial for building strong social ties. Whether 
            you're new to the city, seeking to expand your social circle, or 
            simply looking to explore new interests, Shoulder to Shoulder
            serves as your gateway to a more connected and fulfilling life.
        </p>
        <p>
            <a target="_blank" routerLink="/sign-up">Join us</a> in combating loneliness by engaging in your community 
            through Shoulder to Shoulder. Let's rediscover the joy of connection 
            together, one event at a time.
        </p>
    </div>
    <h2>Meet the Team</h2>
    <div class="meet-the-team">
        <div class="team-member">
            <img src="assets/team_members/aicha.jpg" alt="Aïcha Camara" class="team-member-image">
            <div class="team-member-info">
                <h4>Aïcha Camara</h4>
                <p class="job-title">Chief Backend Engineer</p>
            </div>
        </div>
        <div class="team-member">
            <img src="assets/team_members/chanteria.jpg" alt="Chanteria Milner" class="team-member-image">
            <div class="team-member-info">
                <h4>Chanteria Milner</h4>
                <p class="job-title">Chief Frontend Engineer, Full-stack Developer</p>
            </div>
        </div>
        <div class="team-member">
            <img src="assets/team_members/darren.jpg" alt="Darren Colby" class="team-member-image">
            <div class="team-member-info">
                <h4>Darren Colby</h4>
                <p class="job-title">Chief Machine Learning Engineer</p>
            </div>
        </div>
        <div class="team-member">
            <img src="assets/team_members/ethan.jpg" alt="Ethan Arsht" class="team-member-image">
            <div class="team-member-info">
                <h4>Ethan Arsht</h4>
                <p class="job-title">Chief GIS Developer, Backend Engineer, Machine Learning Engineer</p>
            </div>
        </div>
        <div class="team-member">
            <img src="assets/team_members/kate.jpg" alt="Kate Habich" class="team-member-image">
            <div class="team-member-info">
                <h4>Kate Habich</h4>
                <p class="job-title">Chief Architect, Project Manager, Backend Engineer</p>
            </div>
        </div>
        <div class="team-member">
            <img src="assets/team_members/sarah.jpg" alt="Sarah Walker" class="team-member-image">
            <div class="team-member-info">
                <h4>Sarah Walker</h4>
                <p class="job-title">Project Manager, Architect, Backend Engineer</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>