.settings {
    padding: 2rem;
    background-color: white;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-onboarding {
    background-color: #FFECD1;
    border-color: #FFECD1;
    margin-bottom: 1rem;
    width: 70%;
    justify-content: center;
    font-weight: 700;
}

.edit-onboarding:hover {
    background-color: #F06E28;
    border-color: #F06E28;
    color: #FFECD1;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
    padding: 1rem;
}

.settings-form {
    padding: 1rem;
    margin: 1rem;
    background-color: #FFECD1;
    width: 70%;
    border-radius: 0.625rem;
}

.form-group {
    margin: .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.submit-button {
    border-radius: 1rem;
    padding: .625rem;
    width: 8rem;
    text-align: center;
    border-color: #F06E28;
    background-color: #F06E28;
    color: #FFECD1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.confirmButton {
    margin-top: 1rem;
    background-color: #15616D;
    border-color: #15616D;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.confirmButton:hover {
    background-color: #15616db3;
    border-color: #15616db3;
}

.cancelButton {
    margin-top: 1rem;
    background: none;
    border-color: #15616D;
    color: #15616D;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.cancelButton:hover {
    background-color: #15616d21;
    border-color: #15616db3;
}

.delete-account {
    margin-top: 1rem;
    background-color: #e30000;
    border-color: #ff0000;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.delete-account:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

::ng-deep .p-fileupload-buttonbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

::ng-deep .p-ripple.p-element.p-button.p-component {
    background-color: #F06E28;
    border-color: #F06E28;
    color: #FFECD1;
}

::ng-deep button.p-element.p-button-icon-only.p-button.p-component {
    background-color: #F06E28;
    border-color: #F06E28;
    color: #FFECD1;
}

h4 {
    margin-bottom: 1rem;
}