<div class="settings drop-shadow">
    <!-- Edit Onboarding Form -->
    <button class="edit-onboarding drop-shadow dark-text" pButton (click)="openOnboardingDialog()">Editing Onboarding Responses</button>

    <!-- Change Password Form -->
    <div class="settings-form drop-shadow">
        <h4>Change Password Form</h4>
        <form [formGroup]="this.changePasswordForm" (ngSubmit)="submitNewPassword()" class="form-container dark-text">
            <!-- Invalid password message -->
            <div *ngIf="showInvalidPassword" class="p-error">
                <p>Invalid password. Please try again.</p>
            </div>
            
            <!-- Hidden Username Field -->
            <input 
                type="hidden" 
                formControlName="username" 
                autocomplete="username" 
                id="username"
                value="{{ this.user.username }}">

            <!-- Current Password -->
            <div class="form-group">
                <label for="currentPassword" >Current Password</label>
                <input #currentPasswordInput
                    pInputText
                    type="password" 
                    formControlName="currentPassword" 
                    class="form-control input-field" 
                    id="currentPassword" 
                    autocomplete="current-password"
                    placeholder="Enter current password"
                    (focus)="togglePasswordField(currentPasswordInput)" 
                    (blur)="togglePasswordField(currentPasswordInput)"
                >
            </div>

            <!-- New Password -->
            <div class="form-group">
                <label 
                    for="password">New Password</label>
                <small class="p-error" *ngIf="changePasswordForm.get('password')?.dirty && changePasswordForm.get('password')?.invalid">Password is required</small>
                <small class="p-error" *ngIf="changePasswordForm.get('password')?.dirty && changePasswordForm.errors?.['PasswordMatch']">New password should be different from old password</small>
                <input #passwordInput
                    pInputText
                    type="password" 
                    formControlName="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Enter new password"
                    autocomplete="new-password" 
                    (focus)="togglePasswordField(passwordInput)" 
                    (blur)="togglePasswordField(passwordInput)"
                    tooltipStyleClass="customtooltip" 
                    tooltipEvent="focus" 
                    pTooltip="Password should be at least 8 characters and contain one upper case letter, one lower case letter, one number, and one special character." 
                >
            </div>

            <!-- Confirm New Password -->
            <div class="form-group">
                <label for="confirmPassword" >Confirm New Password</label>
                <small class="p-error" *ngIf="changePasswordForm.get('confirmPassword')?.dirty && changePasswordForm.errors?.['PasswordNoMatch']">Passwords do not match</small>
                <input #confirmPasswordInput
                    pInputText
                    type="password" 
                    formControlName="confirmPassword" 
                    class="form-control" 
                    id="confirmPassword" 
                    placeholder="Confirm new password"
                    autocomplete="new-password"
                    (focus)="togglePasswordField(confirmPasswordInput)" 
                    (blur)="togglePasswordField(confirmPasswordInput)"
                    tooltipStyleClass="customtooltip" 
                    tooltipEvent="focus" 
                    pTooltip="Password should be at least 8 characters and contain one upper case letter, one lower case letter, one number, and one special character." 
                >
            </div>

            <!-- Submit Button -->
            <button type="submit" pButton class="p-button-raised submit-button" [disabled]="changePasswordForm.invalid">Submit</button>

        </form>
    </div>

    <!-- Update User Information Form -->
    <div class="settings-form drop-shadow">
        <h4>Update User Information Form</h4>
        <form [formGroup]="this.updateUserInformationForm" (ngSubmit)="submitUserUpdate()" class="form-container dark-text">
            <!-- First Name -->
            <div class="form-group">
                <label for="firstName" >First Name</label>
                <input
                    pInputText
                    formControlName="firstName" 
                    class="form-control input-field" 
                    id="firstName" 
                >
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label for="lastName" >Last Name</label>
                <input
                    pInputText
                    formControlName="lastName" 
                    class="form-control input-field" 
                    id="lastName" 
                >
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email" >Email Address</label>
                <small class="p-error light-error" *ngIf="updateUserInformationForm.get('email')?.dirty && updateUserInformationForm.get('email')?.invalid">Please enter a valid email</small>
                <input
                    pInputText
                    formControlName="email" 
                    class="form-control input-field" 
                    id="email" 
                    type="email"
                >
            </div>

            <!-- Submit Button -->
            <button type="submit" pButton class="p-button-raised submit-button" [disabled]="updateUserInformationForm.invalid">Submit</button>

        </form>
    </div>

    <!-- Update profile picture -->
    <div class="settings-form drop-shadow">
        <h4>Update Profile Picture</h4>
        <p-fileUpload 
            name="profilePicture" 
            url="{{ profileService.uploadPhotoEndpoint }}?user_id={{ this.user.id }}" 
            (onUpload)="onUpload($event)" 
            accept="image/*" 
            [maxFileSize]="1000000"
            [customUpload]="true"
        >
        </p-fileUpload>
    </div>

    <!-- Delete Account Button -->
    <button class="delete-account drop-shadow" pButton (click)="openDeleteDialog()">Delete my Shoulder to Shoulder Account</button>
</div>

<!-- Edit Onboarding Form Dialog -->
<p-dialog class="onboarding-dialog" header="Edit Onboarding Responses" [(visible)]="showOnboardingDialog" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <app-preferences-survey></app-preferences-survey>
    <app-demographics-survey></app-demographics-survey>

    <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-end">
            <button pButton class="cancelButton" type="button" (click)="showOnboardingDialog = false">Cancel</button>
            <button pButton class="confirmButton" type="button" (click)="submitOnboardingChanges()">Submit</button>
        </div>
    </ng-template>
</p-dialog>

<!-- Delete Account Dialog -->
<p-dialog class="delete-dialog" header="Are you sure you want to delete your account?" [(visible)]="showDeleteDialog" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="delete-dialog-content">
        <p>
            <b>This action cannot be undone.</b>
        </p>
        
        <p>
            Given our committment to data privacy, by deleting your account, you will be removing all instances of your user's interactions
            in our databases. This includes all events you have attended, all preferences you have set, and all demographic information you have provided.
        </p>
        <p>
            If you ever wish to return to Shoulder to Shoulder, you will need to create a new account.
        </p>
        <p>
            We appreciate your time with us and hope you have found our platform useful. 
        </p>
        <p>
            <b>If you would like to continue, please click "Delete Account" below.</b>
        </p>
    </div>

    <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-end">
            <button pButton class="cancelButton" type="button" (click)="showDeleteDialog = false">Cancel</button>
            <button pButton class="confirmButton" type="button" (click)="deleteAccount()">Delete Account</button>
        </div>
    </ng-template>
</p-dialog>