
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.yesButton {
    background-color: #15616D;
    border-color: #15616D;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.yesButton:hover {
    background-color: #15616db3;
    border-color: #15616db3;
}

.noButton {
    background-color: #FF7D00;
    border-color: #FF7D00;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.noButton:hover {
    background-color: #FF7D00b3;
    border-color: #FF7D00b3;
}

.remindButton {
    background: none;
    border-color: #78290f;
    color: #78290f;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.remindButton:hover {
    background-color: #78290f21;
    border-color: #78290fb3;
}