/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

body {
    background-color: #FFECD1;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    z-index: 10;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 70vh;
}

.subtitle {
    font-size: 1.1rem;
    font-weight: light;
    text-align: center;
    margin-bottom: 1rem;
}

.subtitle2 {
    font-size: 1.05rem;
    font-weight: light;
    text-align: center;
    margin-bottom: 1rem;
}

.light-text{
    color: #FFECD1;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0px;
}

.dark-text {
    color: #001524;

}

a {
    color: #A5D8FF;
}

* {
    font-family: 'Poppins', sans-serif;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrap-shadow {
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.p-tooltip-text {
    font: 12px;
  }
  
.p-tooltip .p-tooltip-text {
color: green ;
}

.customtooltip.p-tooltip .p-tooltip-text {
color: #FFECD1 ;
}

.is-invalid {
    border-color: rgb(255, 61, 61);
    border-width: 2px;
    background-color: rgb(253, 209, 209);
}

.light-error {
    color: rgb(233, 98, 98);
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #FFECD1;
}

.p-datatable .p-datatable-thead > tr > th {
    background: #15616D;
    color: #FFECD1;
}

.p-datatable>.p-datatable-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.p-datatable-table {
    width: 90%;
    border: solid;
    border-color: #15616D;
}