.scenario-form {
    background-color: #23A6BE;
    width: 70%;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    justify-content: left;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.field {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.label {
    margin-bottom: 5px;
    text-align: left;
    color: #001524;
}

.submit-button {
    background-color: #FF7D00;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-weight: normal;
}

.p-error {
    text-align: left;
}

.required {
    color: rgb(231, 75, 75);
}

h3 {
    text-align: center;
    margin: 0;
}

p {
    text-align: center;
}

.nextButton {
    background-color: #ff7b0000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    text-align: right;
    font-weight: normal;
    margin-top: 1rem;
}

.nextButtonDiv {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.prevButton {
    background-color: #78290f00;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    text-align: right;
    font-weight: normal;
    margin-top: 1rem;
}

.prevButtonDiv {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.buttons {
    display: flex;
    width: 100%
}

label.ml-2 {
    margin-left: 5px;
}

::ng-deep .p-radiobutton .p-radiobutton-box {
    width: 25px;
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #15616D;
    background: #15616D;
}

::ng-deep .p-radiobutton .p-radiobutton-box:hover {
    border-color: #15616D;
}