<div class="scenario-form drop-shadow">
    <h3 class="light-text">Event Preferences</h3>
    <p class="light-text">The following fields are <b>required</b> as they determine your specific event recommendations. You will not be able to move forward in the onboarding process until the required questions are answered.</p>
    <form [formGroup]="this.userService.scenariosForm" (ngSubmit)="onSubmit()" class="form-container">
        <!-- scenario 1 -->
        <div class="field">
            <label for="scenario1" class="label">Favorite Hobbies<span class="required">*</span></label>
            <p-toggleButton formControlName="scenario1" onLabel="Yes" offLabel="No"></p-toggleButton>
        </div>

    </form>
</div>