.progressIndicator{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: #001524 2px solid;
    border-radius: 20px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#progressBar{
    border-radius: 20px; 
    background-color: #001524; 
    text-align: center;
    color: #FFECD1;
}