.signup-button {
    background-color: #F06E28;
    color: #FFECD1;
    border-radius: 5px;
    padding: 7px;
    width: 5rem;
    text-align: center;
}

.login-button {
    border: 1px solid #F06E28;
    color: #F06E28;
    border-radius: 5px;
    padding: 7px;
    width: 5rem;
    text-align: center;
}

::ng-deep .p-menubar {
    background-color: #15616D;
    padding: 10px;
    border: 0px;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: #FFECD1;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link:hover {
    background-color: #15616D;
}